h1{
    color: blue;
}
p{
    color: gold;
    text-align: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
li{
    color:red;
    font-size: large;
    font-style: italic;
    font-size: 30px;
}